.cart-container {
  min-height: 500px;
  margin: 20px;
  max-width: 700px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 15px;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 600;
  border-top: 1px solid #7c7c7c;
}


