.cart-item {
  display: flex;
  justify-content: space-between;
  &__actions {
    display: flex;
    flex-direction: column;
  }
  &__quantity-controls {
    display: flex;
    gap: 10px;
    margin: 10px;
    button {
      min-width: 50px;
      background-color: white;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
