.cart-item {
  display: flex;
  justify-content: space-between;
  &__actions {
    display: flex;
    flex-direction: column;
  }
  &__quantity-controls {
    display: flex;
    gap: 10px;
    margin: 10px;
    button {
      min-width: 50px;
      background-color: white;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  }
  &__remove {
    padding: 8px 16px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color:  rgba(255, 0, 34,0.5);
    }
  }
}
